<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="why-how">キャンペーンの理由 &amp; 仕組み</h2>
    <dl>
      <dt class="bcls-question">マーケティングオートメーションソリューションで動画を追跡する必要があるのはなぜですか？</dt>
      <dd class="bcls-answer">マーケティング自動化ソリューションは、今日の動画を追跡しません。強力なコンテンツとして動画に投資する場合は、その効果を追跡し、コンテンツを閲覧したリード/ユーザーとのコミュニケーションを自動化する必要があります。 </dd>
      <dt class="bcls-question">BrightcoveとCampaignモジュールはクッキーを利用していますか?</dt>
      <dd class="bcls-answer">キャンペーンモジュールは、統合が行われているときにサードパーティのcookieを作成し、使用してユーザを識別します。この方法では、視聴者は 2 回目にリードフォームへの記入を求められることはありません。このモジュールでは、Marketo、HubSpot、Eloqua API も利用し、クッキーを使用してビューアを追跡します。キャンペーンプロファイルを使用する場合は、Brightcoveクッキーが使用されます。</dd>
      <dt class="bcls-question">Brightcoveキャンペーンはすべてのお客様に対して有効になっていますか?</dt>
      <dd class="bcls-answer">いいえ。VideoMarketingSuite(VMS)の購入可能なアドオンとしてキャンペーンをご利用いただけます。ただし、キャンペーンプロファイルはBrightcoveのすべてのお客様が無料で利用できます。キャンペーンライトだと思ってください。</dd>
      <dt class="bcls-question">キャンペーンプロファイルの対象者</dt>
      <dd class="bcls-answer">2017年第4四半期から、すべてのVMSのお客様が無料でキャンペーンプロファイルにアクセスできるようになります。 <a href="/campaign/integrations/non-map/using-campaign-module-track-viewers.html">データの追跡を開始するには、顧客がそれを有効にする必要があります</a>.EnterpriseVideoSuite（EVS）のお客様は、キャンペーンSSOトラッキングも利用できます。</dd>
    </dl>  </section><section class="bcls-section">
    <h2 id="tracking-limitations">視聴者の追跡と制限</h2>
    <dl>
      <dt class="bcls-question">キャンペーンプロファイルには、フル機能のキャンペーンモジュールと比べてどのような制限がありますか。</dt>
      <dd class="bcls-answer">
        <ul>
          <li>サードパーティ製システムとの統合は不要</li>
          <li>APIアクセスなし</li>
          <li>カスタムリードフォームなし（キャンペーンリードフォームのみ）</li>
          <li>1000 ビュー/最大 24 時間キャプチャ時間</li>
        </ul>
        キャンペーンデータをCSVまたはXLSファイルに手動でエクスポートすることもできます。</dd>
      <dt class="bcls-question">マーケティング自動化プラットフォームに接続する場合、キャンペーンにはどのような制限/要件がありますか?</dt>
      <dd class="bcls-answer">制限と要件については、各プラットフォームのドキュメントに記載されています。
        <ul>
          <li><a href="/campaign/integrations/eloqua/integrating-video-cloud-oracle-eloqua.html">オラクル・エロクア</a></li>
          <li>ハブスポット (<a href="/campaign/integrations/hubspot/integrating-video-cloud-hubspot-using-client-side-apis.html">クライアント側 API</a>また<a href="/campaign/integrations/hubspot/integrating-video-cloud-hubspot-using-rest-apis.html">REST API</a> )</li>
          <li>マルケト (<a href="/campaign/integrations/marketo/integrating-video-cloud-marketo-using-munchkin.html">マンチカン</a>また<a href="/campaign/integrations/marketo/integrating-video-cloud-marketo-using-rest-apis.html">REST API</a> )</li>
          <li><a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html">セールスフォース</a></li>
        </ul>
      </dd>
      <dt class="bcls-question">オーディエンス API をポーリングできる頻度に制限はありますか？動画検索結果に1000のキャップがあることは知っていますが、そのAPIエンドポイントには他の周波数関連のキャップがありますか？ </dt>
      <dd class="bcls-answer">API 呼び出しあたりのビューイベントの最大数は 100 です。レート制限はありませんが、あまりにも多くを呼び出そうとすると、おそらく少し遅くなります。</dd>
      <dt class="bcls-question">キャンペーンデータを現在の3時間遅延より早く取得する方法はありますか?私は'リアルタイムに近い'指標を取得したいと思います。</dt>
      <dd class="bcls-answer">なしリアルタイムメトリクスが必要な場合は、独自のプラグインを作成し、データを自分のシステムに送信する必要があります。</dd>
      <dt class="bcls-question">イベントビューがキャンペーンに送信されるトリガーは何ですか。ビデオが完了したとき、プレーヤーウィンドウが閉じられたとき、または何か他のものですか？ユーザーがビデオを完了せず、プレーヤーウィンドウを閉じない場合はどうなりますか？</dt>
      <dd class="bcls-answer">さまざまですが、基本的にキャンペーンプラグインは10秒ごとにハートビートをサーバに送信します。</dd>
      <dt class="bcls-question">キャンペーンでは、完了するビューを追跡することを検討しているのはいつですか?プレーヤーウィンドウが閉じているときですか、ビデオが完成したときですか？彼らが間近で見て、ビデオを一時停止し、プレーヤーウィンドウを閉じない場合はどうなりますか？</dt>
      <dd class="bcls-answer">私たちが最後にハートビートを見たから15分が経過した時です。基本的に活動が不足しています。</dd>
      <dt class="bcls-question">Campaignビューイングデータで視聴者データが入手できたら変更することは可能ですか?そのイベントデータは、将来何らかのログ統合によって更新されますか？ </dt>
      <dd class="bcls-answer">UIまたはAPIを介してキャンペーンでデータが利用可能になると、データは'決済済み'と見なされ、変更されることはありません。</dd>
    </dl>  </section><section class="bcls-section">
    <h2 id="data-protection">データ保護と記録保持</h2>
    <dl>
      <dt class="bcls-question">キャンペーンGDPRに準拠していますか?</dt>
      <dd class="bcls-answer">
        <p>はい、キャンペーンでは、キャンペーンを通じて収集したすべてのデータを検索および消去し、ユーザーの代理として行動することができます。 </p>
        <p><a href="/campaign/admin/managing-viewer-data.html">https://studio.support.brightcove.com/campaign/admin/managing-viewer-data.html</a></p>
      </dd>
      <dt class="bcls-question">キャンペーンでデータを保持できる期間はどれくらいですか?</dt>
      <dd class="bcls-answer">MAP 統合は最大 6 か月に設定でき、非 Map 統合は 3 年に設定できます。 </dd>
      <dt class="bcls-question">GUID ルックアップがキャッシュされる期間はどれくらいですか</dt>
      <dd class="bcls-answer">既知の場合は 30 日、不明の場合は 7 日間 (MAP 統合にのみ適用され、非 Map 統合にはルックアップは必要ありません)</dd>
    </dl>  </section><section class="bcls-section">
    <h2 id="marketing-automation">マーケティング自動化とビューア分析</h2>
    <dl>
      <dt class="bcls-question">マーケティングオートメーションプラットフォームの他のメディアと動画のトラッキングについて何が違うのですか？</dt>
      <dd class="bcls-answer">ウェブページやダウンロード可能なホワイトペーパーとは異なり、ビデオを使用すると、視聴者が視聴したビデオの量、つまりどのコンテンツが公開されているかを正確に判断できます。 </dd>
      <dt class="bcls-question">Eloqua/marketo/HubSpotアカウントとどのように接続しますか？</dt>
      <dd class="bcls-answer">Eloqua/Marketo/HubSpotアカウントには、キャンペーンモジュールのVideoMarketingSuiteから直接ログインできます。そこから、MAPトラッキングを内蔵したプレイヤーとリードフォームを作成できるため、動画分析のトラッキングをすぐに開始できます。</dd>
      <dt class="bcls-question">Eloqua/marketo/HubSpotページだけでなく、非Eloqua/marketo/HubSpotのランディングページ（サイトコア/ワードプレス/ギャラリーなど）のビューを追跡できますか？ </dt>
      <dd class="bcls-answer">はい。使用中のプレイヤーがキャンペーン有効（キャンペーンプラグインがインストールされている）である限り、プレイヤーがMAPランディングページにあるか、他のランディングページにあるかにかかわらず、すべてのビューが追跡されます。</dd>
      <dt class="bcls-question">この統合で追跡できるものは何ですか？</dt>
      <dd class="bcls-answer">当社の統合により、データベースにすでに存在する既知の連絡先の動画視聴分析（動画、動画 ID、閲覧率、視聴時間）を追跡できます。</dd>
      <dt class="bcls-question">不明な連絡先はどうですか？彼らも追跡できますか？</dt>
      <dd class="bcls-answer">BrightcoveCampaignを使用すると、不明な連絡先を追跡し、Eloqua/HubSpotフォームを送信すると（知られるようになる）、キャンペーンは視聴者情報をその新しい連絡先に遡って関連付けることができます。キャンペーンは、不明な連絡先のビューデータをOracleEloqua/HubSpotインスタンスに照合するために、視聴情報を毎日再送信します。 </dd>
      <dt class="bcls-question">私のビデオビューのデータは、マップ内のどこに表示されますか？</dt>
      <dd class="bcls-answer">これは、使用している MAP によって異なります。については、次のドキュメントを参照してください。<a href="/campaign/integrations/eloqua/eloqua-integration-testing-guide.html">オラクルエロクア</a>、<a href="/camapign/integrations/marketo/marketo-rest-integration-testing-guide.html">マルケト</a>と<a href="/campaign/integrations/hubspot/hubspot-rest-api-integration-testing-guide.html">ハブスポット</a>.</dd>
      <dt class="bcls-question">Salesforce の動画視聴データはどこに表示されますか？</dt>
      <dd class="bcls-answer">ビデオビューは、[アクティビティ] セクションのビューアの連絡先の下にタスクとして Salesforce に配信されます。見る<a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html#sfdata">Salesforce での動画データの表示</a>これの例として。 </dd>
      <dt class="bcls-question">連絡先の 1 つが動画を視聴したときに Salesforce に通知を受けることはできますか？</dt>
      <dd class="bcls-answer">直接じゃないただし、連絡先の活動を通知するレポートを実行することはできます。</dd>
      <dt class="bcls-question">SalesforceとOracle Eloqua/Marketoとの追跡に違いはありますか？</dt>
      <dd class="bcls-answer">最大の違いは、Salesforce がユーザを追跡するために Cookie を使用しないことです。したがって、ビューアを識別するために、一意の識別子を渡す必要があります。見る<a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html#identify">このドキュメント</a>詳細については。さらに、CRM である Salesforce は、自動化されたフォローアップやリードスコアリングを提供していません。ただし、Salesforce で ToDo を作成し、実際のフォローアップのために営業チームに割り当てることができます。</dd>
      <dt class="bcls-question">キャンペーンにはカスタム統合オプションがあります。キャンペーンはこれを使用して他のどのプラットフォームと統合できますか?</dt>
      <dd class="bcls-answer">
        <p>キャンペーンは、次のようなデータプラットフォームと統合できます。</p>
        <ol>
          <li>各連絡先レコードに一意の識別子を使用します。</li>
          <li>サードパーティのプラットフォームから追加データを受信できるAPIを持っている(キャンペーンなど)</li>
        </ol>
      </dd>
      <dt class="bcls-question">AnalyticsモジュールのビデオビューがCampaignモジュールのビュー数より多いのはなぜですか?</dt>
      <dd class="bcls-answer">
        <p>分析 &amp; キャンペーンモジュールは2つの個別のシステムであり、それぞれが個別のユースケースをキャプチャするため、ビューイベントが1対1であることは想定できません。</p>
        <p>キャンペーンのリードフォームには<code>video_view</code>リードフォームを表示する前にトリガーされたイベント。これらは<code>video_view</code>イベントは、ユーザーが手動で [再生] ボタンをクリックして再生を開始したときにトリガーされます。その結果、コンテンツが再生されたように見えなくても、<code> video_view</code>が登録されており、Analytics モジュールの動画に表示されます。</p>
        <p>Analyticsモジュールのビデオビューの数がCampaignモジュールのイベントのビューよりも多い場合、最も可能性が高いのは、ユーザがリードフォームを提示されたが、再生を続行するためにそれに記入しなかったためです。</p>
      </dd>
    </dl>  </section><section class="bcls-section">
    <h2 id="lead-forms">プレイヤーリードフォーム</h2>
    <dl>
      <dt class="bcls-question">キャンペーンにリードフォームが表示されるのはいつですか。</dt>
      <dd class="bcls-answer">デフォルト設定では、MAP データベース内の不明なユーザー (既知のユーザーに変換するユーザー) へのリードフォームのみが表示されます。リードフォームを常に表示するように選択した場合は、設定でこれを上書きできます。これはテストに最も役立ちます。既知のユーザーは自動的に追跡され、そのデータは MAP 内の連絡先に関連付けられ、フォームを表示する必要はありません。</dd>
      <dt class="bcls-question">リードフォームをカスタマイズできますか？</dt>
      <dd class="bcls-answer">UI を使用して、表示されるテキストとフィールドを調整できます。UI で利用可能なものを超えて変更することはできません (ギャラリーでは、フォームがサイトと一致するようにスタイルを更新できます) </dd>
    </dl>  </section><section class="bcls-section">
    <h2 id="general">一般的なトピック</h2>
    <dl>
      <dt class="bcls-question">どの埋め込みコードを使うべきですか？iframeかページ内？</dt>
      <dd class="bcls-answer">キャンペーンが機能するには、Advancedembedcodeを使用する必要があります。標準（iframe）埋め込みコードが使用されている場合、プレイヤーはページから分離されます。つまり、キャンペーンプラグインは一意の識別子を参照できないため、すべてのユーザは不明と見なされます。</dd>
      <dt class="bcls-question">マーケティング自動化とは何ですか？</dt>
      <dd class="bcls-answer">マーケティング自動化は、さまざまなオンラインマーケティングチャネル（電子メール、ウェブ、フォーム、コンテンツ、ビデオ、ソーシャルなど）とのリード/ユーザーのインタラクションを追跡する技術です。マーケティング自動化により、マーケティング担当者はこれらのチャネル全体でより効果的にマーケティングを行い、反復的なマーケティングタスク（電子メール通信など）を自動化できます。マーケティング自動化により、マーケティング担当者は事前定義された変数に基づいて、自動化されたパーソナライズされたタスクを設定できます。たとえば、ユーザーが特定の動画の 75% を視聴した場合、その特定の件名に関するメールを送信しますが、12% しか視聴していない場合は別のものを送信します。 </dd>
      <dt class="bcls-question">Brightcoveはマーケティングオートメーション企業ですか？</dt>
      <dd class="bcls-answer">いいえ、Brightcoveは動画マーケティングのための完全なソリューションを提供しています。当社のソリューションにより、動画をオンラインで入手し、コンテンツを整理、プレーヤーの作成、ビデオポータルの作成、分析の追跡、既存のマーケティング自動化プラットフォームとの統合を行うことができます。Brightcoveは、動画分析をマーケティングオートメーションプラットフォームに統合します。</dd>
      <dt class="bcls-question">MarketOカスタムアクティビティが正しく設定されているかどうかを確認するにはどうすればよいですか？</dt>
      <dd class="bcls-answer">Campaign には、特定の種類の統合用のデバッグ ツールを提供する隠し URL があり、Marketo REST はその 1 つです。<a href="https://studio.brightcove.com/products/videocloud/campaign/debug"> https://studio.brightcove.com/products/videocloud/campaign/debug</a> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="キャンペーン設定 " src="/assets/images/s-campaign-img/general/faq-debug.png" /></figure>
      </dd>
      <dt class="bcls-question">カスタムインテグレーションを構成するには何が必要ですか？</dt>
      <dd class="bcls-answer">3つのことを行う必要があります：
        <ol>
          <li>キャンペーンがキャプチャできるページのURLまたはコードに一意の識別子を表示する必要があります。</li>
          <li> Audience API を使用してデータを JSON ファイルとして取得するスクリプトを作成します（Brightcove グローバルサービスがこれを支援します）。</li>
          <li> データを宛先データベースのフィールドにマップします (スプレッドシートの結合を考えて)。</li>
        </ol>
        次のサポートドキュメントでは、これらのタスクについて説明します。
        <ul>
          <li><a href="/campaign/integrations/non-map/creating-custom-integrations-campaign-module.html">Campaign モジュールとのカスタム統合の作成</a>- Campaign が取得できる固有の ID を提供する方法について説明します</li>
          <li> <a href="/campaign/develop/overview-audience-api.html">オーディエンス API</a> - プログラムですべてのデータを JSON ファイルとして取得し、選択したデータ処理システムにインポートする方法について説明します</li>
        </ul>
      </dd>
      <dt class="bcls-question">キャンペーンはどのようにCDOデータをEloquaにプッシュするのですか?</dt>
      <dd class="bcls-answer">カスタム オブジェクト バルク API を使用します。<a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html"> https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html </a></dd>
      <dt class="bcls-question">キャンペーンは外部資産活動をどのように推進しますか？キャンペーン、外部資産および活動タイプを使用する方法を制御できますか。</dt>
      <dd class="bcls-answer">外部アクティビティ API (<a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html"> https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html</a> ）。キャンペーンの名前、アセット名、タイプを制御することはできません。私たちは、独自のキャンペーン（BrightCoveVideoPlay という名前の）を作成し、アクティビティの作成に進みます。BrightCoveVideoPlay という名前もあります。 </dd>
      <dt class="bcls-question">キャンペーンがサービスXと通信できるようにホワイトリストに登録できるIPアドレスは何ですか?</dt>
      <dd class="bcls-answer">キャンペーンは、IPホワイトリストに使用するIPアドレスのセットを確立しました。リストを表示するには、Eloqua 接続を編集し、<a ng-click="showInfo()" ng-if="::!ctrl.hideWhitelistInfo && ctrl.isEloqua(ctrl.integration)" context="troubleSeeing"><strong> Eloqua でキャンペーン データを表示できませんか?</strong></a>リンクをクリックして、IP アドレスのリストを表示します。</dd>
    </dl>   </section></article>